webServiceProject/xml-resources/web-service-references/LoginWebService/wsdl/localhost_8080/bkhWebService/LoginWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://projetServiceWeb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://projetServiceWeb.com/" name="LoginWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://projetServiceWeb.com/" schemaLocation="http://localhost:8080/bkhWebService/LoginWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="ajtEtud">
<part name="parameters" element="tns:ajtEtud"/>
</message>
<message name="ajtEtudResponse">
<part name="parameters" element="tns:ajtEtudResponse"/>
</message>
<message name="supEtud">
<part name="parameters" element="tns:supEtud"/>
</message>
<message name="supEtudResponse">
<part name="parameters" element="tns:supEtudResponse"/>
</message>
<message name="gettheRightQuery">
<part name="parameters" element="tns:gettheRightQuery"/>
</message>
<message name="gettheRightQueryResponse">
<part name="parameters" element="tns:gettheRightQueryResponse"/>
</message>
<message name="getThecoordonne">
<part name="parameters" element="tns:getThecoordonne"/>
</message>
<message name="getThecoordonneResponse">
<part name="parameters" element="tns:getThecoordonneResponse"/>
</message>
<message name="theQuery">
<part name="parameters" element="tns:theQuery"/>
</message>
<message name="theQueryResponse">
<part name="parameters" element="tns:theQueryResponse"/>
</message>
<message name="excutetequery">
<part name="parameters" element="tns:excutetequery"/>
</message>
<message name="excutetequeryResponse">
<part name="parameters" element="tns:excutetequeryResponse"/>
</message>
<message name="updatequery">
<part name="parameters" element="tns:updatequery"/>
</message>
<message name="updatequeryResponse">
<part name="parameters" element="tns:updatequeryResponse"/>
</message>
<portType name="LoginWebService">
<operation name="ajtEtud">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/ajtEtudRequest" message="tns:ajtEtud"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/ajtEtudResponse" message="tns:ajtEtudResponse"/>
</operation>
<operation name="supEtud">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/supEtudRequest" message="tns:supEtud"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/supEtudResponse" message="tns:supEtudResponse"/>
</operation>
<operation name="gettheRightQuery">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/gettheRightQueryRequest" message="tns:gettheRightQuery"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/gettheRightQueryResponse" message="tns:gettheRightQueryResponse"/>
</operation>
<operation name="getThecoordonne">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/getThecoordonneRequest" message="tns:getThecoordonne"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/getThecoordonneResponse" message="tns:getThecoordonneResponse"/>
</operation>
<operation name="theQuery">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/theQueryRequest" message="tns:theQuery"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/theQueryResponse" message="tns:theQueryResponse"/>
</operation>
<operation name="excutetequery">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/excutetequeryRequest" message="tns:excutetequery"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/excutetequeryResponse" message="tns:excutetequeryResponse"/>
</operation>
<operation name="updatequery">
<input wsam:Action="http://projetServiceWeb.com/LoginWebService/updatequeryRequest" message="tns:updatequery"/>
<output wsam:Action="http://projetServiceWeb.com/LoginWebService/updatequeryResponse" message="tns:updatequeryResponse"/>
</operation>
</portType>
<binding name="LoginWebServicePortBinding" type="tns:LoginWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ajtEtud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="supEtud">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gettheRightQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getThecoordonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="theQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excutetequery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatequery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoginWebService">
<port name="LoginWebServicePort" binding="tns:LoginWebServicePortBinding">
<soap:address location="http://localhost:8080/bkhWebService/LoginWebService"/>
</port>
</service>
</definitions>